#blog {
    padding: 60px 0;
    background-image: url('../../assets/image/blog-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#blog:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.95) 100%);;
    z-index: 1;
}
.blog__container {
    position: relative;
    z-index: 3;
}


#blog .row {
    row-gap: 50px;
}

.blog__title {
    position: relative;
}

.blog__title h2 {
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    padding: 50px;
}

.blog__title h4 {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    font-size: 147px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;

    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg, rgba(15,15,15,0) 0%, rgba(15,15,15,1) 100%);
    opacity: 10%;
}

.blog__box img:first-child {
    width: 100%;
}

.blog__box h4 {
    font-size: 25px;
    font-weight: 400;
    padding: 20px 0;
}

.blog__box-desc {
    display: flex;
    align-items: flex-end;
}

.blog__box p {
    color: var(--Gray);
    line-height: 29px;
}

.blog__button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.blog__button button {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 15px 30px;
    background-color: var(--Green);
    border: none;
    color: var(--White);
    cursor: pointer;
    opacity: .7;
    transition: .3s;
}
.blog__button button:hover {
    opacity: 1;
}